$gradient-pink: #D54B83;
$gradient-navy: #33307A;

$main-color: $gradient-navy;

$text-color: #3F3F3F;

$title-font: "Futura", sans-serif;
$main-font: "Palatino", serif;

$title-size: 4.5em;
$h1-size: 2.2em;
$h2-size: $h1-size * 0.77;

$text-margin: 10px;

$threshold-width: 800px;

/* Desktop special values */

$desktop-width: 1080px;
$desktop-title-size: $title-size * 2;

.desktop
{
	display: none;
}

.mobile
{
	display: inherit;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: $gradient-navy; 
}

/* Header stuff */

header
{
	width: 100%;
	height: 12em;
	background: linear-gradient($gradient-pink, $gradient-navy);

	h1
	{
		color: white;
		font: condensed $title-size $title-font;
		text-align: center;
		overflow: hidden;
		letter-spacing: .35em;
	}
}

/* Body stuff */

h1
{
	width: 100%;
	font: condensed $h1-size $title-font;
	margin: $text-margin;
	color: $text-color;
}

h2
{
	font: condensed $h2-size $title-font;
	margin: $text-margin;
	color: $text-color;
}

p
{
	width: 100%;
	font-family: $main-font;
	margin: $text-margin;
	color: $text-color;
}

.container
{
	background-color: white;
	margin: 0 auto;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

/* Desktop Additional Rules */

@media only screen and (min-width: $threshold-width)
{
	.mobile
	{
		display: none;
	}

	.desktop
	{
		display: inline;
	}

	header
	{
		h1
		{
			font-size: $desktop-title-size;
		}
	}

	.container
	{
		max-width: $desktop-width;
	}
}